*.iml
.gradle/
**/build/
/local.properties
local.properties
.idea/
.DS_Store
/captures
.externalNativeBuild
.cxx
*.apk
*.ap_
*.aab
*.dex
*.class
bin/
gen/
out/
.kotlin/
*.log
*.hprof
.navigation/
*.jks
*.keystore
!debug.keystore
.externalNativeBuild/
.cxx/
*.orig
*.swp
*~
.vscode/
*.iml
xcuserdata/
